/* ==========================================================================
    Theme colors and styles

	Primary Color: Green
		500 #4caf50

		50#e8f5e9
		100#c8e6c9
		200#a5d6a7
		300#81c784
		400#66bb6a
		500#4caf50
		600#43a047
		700#388e3c
		800#2e7d32
		900#1b5e20
		a100#b9f6ca
		a200#69f0ae
		a400#00e676
		a700#00c853

	Accent Color: Amber
		500 #ffc107

		50#fff8e1
		100#ffecb3
		200#ffe082
		300#ffd54f
		400#ffca28
		500#ffc107
		600#ffb300
		700#ffa000
		800#ff8f00
		900#ff6f00
		a100#ffe57f
		a200#ffd740
		a400#ffc400
		a700#ffab00
   ========================================================================== */
body {
    background-color: #eee;
}


p {
    margin: 0;
    padding: 0;
    color: black;
}

.primary-color-700 p, .primary-color p, .primar-color-500 p {
	color: white;
}

.primary-color, .primary-color-500 {
    background-color: #4caf50;
}

.primary-color-100 {
	background-color: #c8e6c9;
}

.primary-color-700 {
	background-color: #388e3c;
}

.accent-color-a, .accent-color-a-500 {
	background-color: #ffc107;
}

.accent-color, .accent-color-a200 {
	background-color: #ffd740;
}

.accent-color-a100 {
	background-color: #ffe57f;
}

.accent-color-a400 {
	background-color: #ffc107;
    background-color: #78909c;
}

/* light bg */

.text-primary-l p, .psu-table-row {
	opacity: 0.87;
}

.text-secondary-l p, {
	opacity: 0.54;
}

.text-disabled-l p, .text-hint-l p {
	opacity: 0.38;
}

.divider-l {
	opacity: 0.12;
}

/* dark-bg */

.text-primary-d p {
	opacity: 1;
}

.text-secondary-d p {
	opacity: 0.7;
}

.text-disabled-d p, .text-hint-d p {
	opacity: 0.3;
}

.divider-d {
	opacity: 0.12;
}
/* ==========================================================================
   General styles
   ========================================================================== */

.content {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

div {
    font-family: 'Open Sans', 'Calibri Light', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}

.title, .header1, .header2, .header3 {
    font-family: 'Slabo 27px' !important;
}

.title p, .title {
    font-size: 1.5em;
}

.header1 p, .header1 {
    font-size: 1.25em;
}

.header2 p, .header2 {
    font-size: 1.1em;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

header {
	width: 100%;
	height: 75px;
    margin: 0;
}

#header-content {
    height: 100%;
}

#header-title {
    padding: 0.5em 1em;
}

#header-title, p {
    font-size: 1.5em;
}

header, div, p {
}

/* ==========================================================================
   Navigation styles
   ========================================================================== */

nav {
    width: 100%;
    height: 100px;
}

/* ==========================================================================
   Filter and table styles
   ========================================================================== */

#main-content {
    position: relative;
    top: -50px;
}

#filter {
    float: left;
    height: 100%;
    width: 25%;
    position: absolute;
}

#filter-content {
    margin: 10px 5px 10px 10px;
    padding: 20px;
    background-color: white;
    /*padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.12);*/

    /*height: 100%;*/
}

#psu-table {
    float: right;
    width: 75%;
}

#psu-content {
    margin: 10px 10px 10px 5px;
    padding: 20px;
    background-color: white;
}

#psu-title {
    /*font-size: 1.5em;*/
}

#psu-content-table {
    width: 100%;
}

#header-row, .filter-header {
    font-size: 0.8em;
    opacity: 0.54;
}

/* font opacity at text-secondary-l */

.psu-table-row {
    font-size: 1em;
}

#psu-content-table tr td, .filter-header {
    padding: 5px;
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

/* ==========================================================================
   Other styles
   ========================================================================== */

#table-filter-divider {
	float: center;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */

@media only screen and (max-width: 740px)/* and (orientation: landscape)*/ {
    #filter, #psu-table {
        float: none;
        width: 100%;
    }

    #filter-content {
        margin: 10px 10px 5px 10px
    }

    #psu-content {
        margin: 5px 10px 10px 10px;
    }

    #filter {
        position: relative;
        clear: right; 
    }

    body {
        background-color: blue;
    }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
    #header-row {
        display: none;
    }
    
    /*.psu-table-row>td {
        display: block;
    }
    
    .psu-table-row>td:nth-child(1), .psu-table-row>td:nth-child(2) {
        display: inline;
        padding: 0 !important;
    }*/

    .psu-table-row>td {
        display: inline;
        padding: 0 !important;
    }
    
    .psu-table-row>td:nth-child(3) {
        display: table-row;
    }
    
    .psu-table-row>td:nth-child(1) {
        font-weight: bold;
    }
}
