/* -------------------------

	Main color: Orange
		500#FF9800 - Main
		
		50#FFF3E0 - Lightest
		100#FFE0B2
		200#FFCC80
		300#FFB74D
		400#FFA726
		500#FF9800
		600#FB8C00
		700#F57C00
		800#EF6C00
		900#E65100 - Darkest
		A100#FFD180 - wtf is this
		A200#FFAB40
		A400#FF9100
		A700#FF6D0

	Accent Color: Green
		500 #4CAF50

		50#E8F5E9
		100#C8E6C9
		200#A5D6A7
		300#81C784
		400#66BB6A
		500#4CAF50
		600#43A047
		700#388E3C
		800#2E7D32
		900#1B5E20
		A100#B9F6CA
		A200#69F0AE
		A400#00E676
		A700#00C853

------------------------- */

p {
    margin: 0;
    padding: 0;
}

header {
	background-color: #FF9800;
	width: 100%;
	height: 75px;
    position: fixed;
    margin: 0;
}

#header-content {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#header-title {
    padding: 0.5em 1em;
}

#header-title, p {
    font-family: 'Slabo 27px';
    font-size: 1.5em;
}

header, div, p {
}